body {
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin: 0;
    margin-left: 5px;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    background-color: brown;
    color: white;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

.navbar a:hover {
    background: whitesmoke;
    color: black;
}

#section1 {
    width: 100%;
    height: 320px;
	float: left;
	box-sizing: border-box;
    margin-top: 40px;
    font-family: 'Raleway', sans-serif;
    background-image: url('images/ocean.jpg');
    background-size: cover;
    background-position: center;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 20px;
}

div {
    margin-top: 6px;
    float: right;
    ;
}

header h3 {
    margin-left: 10px;
    color: blue;
    font-size: larger;
    font-weight: bolder;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 40%;
    
}

header img {
    float: right;
    border-radius: 10px;;
    margin-right: 10px;
}

header h5 {
    color: rgb(74, 153, 226);
    font-size: smaller;
    margin-top: 5px;
    margin-left: 10px;
    width: 40%;
}

#section2 {
    background-color: whitesmoke;
    width: 100%;
    margin-top: 10px;
    padding-bottom: 10px;
}

#section3 {
    background-color: lightgrey;
    width: 100%;
    height: 100%;
    padding-bottom: 10px;
}
#hobbies {
    margin-top: 0px;
}

#hobb {
    margin-top: auto;
    padding-top: 10px;
}
p {
    font-family: 'Dancing Script', cursive;
}

#section4 {
    padding: 10px 0px;
}

td {
    border: 1px solid black;
    padding: 5px;
}

#section5 {
    padding: 10px 0px;
}

footer {
    background-color: whitesmoke;
    padding-top: 10px;
    width: 100%;
    font-size: small;
}

#desktop{
    background-image: url(images/desktop.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;

}

#form {
    margin-left: 40%;
}